*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
.container{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding:0;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 100vh;
    min-height: 100%;
    display: flex;
    align-items: center;
}
section .row{
    gap: 12px;
}
.gallery{
    width: 25%;
    height: 500px;
    overflow: hidden;
}
.gallery img{
    width: 100%;
    height: 100%;
    display: block;
}
